*{
    margin: 0;
    padding: 0;
    font-family: poppin, sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;

}
.container{
    margin: 10%;
    width: 60%;
    max-width: 800px;
}
.display{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 150%;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.container button img{
    width: 28px;
    margin-right: 10px
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 600px) {
   .body{
    margin: 10px;
   } 
   .container{
    margin-left: 40px;
    width: 70%;
   }
   .container h1 span{
    border-bottom: none;
   }
    .display{
        width: 100%;
    }   


}